/* simple.scss */

#snackbar {
    height:100px;
    width:100%;
    
    /* nested selector/elements */
    ul {
        list-style:none;
        
        li {
            border:1px solid red;
        }
    }
}

/* nested properties */
.fauxSho_dow {
    border: {
        style: solid;
        left: {
            width: 4px;
            color: red;
        }
        right: {
            width: 1px;
            color: blue;
        };
    };
}


/* parent references */
a {
    /* my favorite color */
    color: pink;
    
    
    /* my second favorite color */
    &:hover {color: yellow;}; 

    /* :) */
    &:visited {color: grey;}; 
}


/* Variables */
$favorite-color: pink;
$second-favorite-color:#FFFF00; // almost pure yellow!
$favorite-line-style: solid;

a {
    color: $favorite-color;
    border: 1px $favorite-line-style $favorite-color;

    .special {
        background-color: lighten($second-favorite-color,25%);
    }
}


@mixin rounding {
    border-radius:500px;
}

a {
    .button {
        @include rounding;
    }
}

@import "variables";


* {
    border-width:$favorite-size;
}
